.container {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 1rem;
}

.card_search_layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
  gap: 7px;
  width: 100%;
}

.card_search {
  width: 450px !important;
  height: 346px;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Poppins-SemiBold;
  font-size: 20px;
}

.layout_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}

.price {
  font-size: 16px;
  line-height: 13px;
}

.right_content {
  width: 100%;
  /* background: red; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 4px;
  padding: 20px;
  height: fit-content;
}

.recomanded_layout {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(1,256px);
  gap: 1.5rem;
  justify-content: center;
}