.container {
  min-height: 100vh;
  position: relative;
  display: flex;
  width: 100%;
  overflow-x: hidden;
  /* --w-sidebar-open: 240px; */
}

.content {
  width: 100%;
  padding: 43px 0px 0px 30px;
  margin-left: calc(88px + (157 - 88) * ((100vw - 320px) / (1980 - 320)));
}