.layout {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100%;
  align-items: center;
}

.payment_method {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  margin-left: 15px;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.card_total {
  width: 400px;
  margin-top: -80%;
  margin-left: 2rem;
  color: #00000080;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1rem;
  border-radius: 12px;
}

.total {
  font-family: Poppins-SemiBold;
  color: #2D3DDF;
}