@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./font.css";

:root {
  --primary-color: #2D3DDF;
  --sidebar-width: 157px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn_primary {
  background: var(--primary-color);
}

.field_number_stays {
  /* border: 1px solid #BEC3FF;
  height: 62px;
  border-radius:6px; */
  display: none;
  opacity: 0%;
  width: 100%;
  height: 0;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top:calc(100% + 5px) ;
  left: 0;
  z-index: 100;
  border-radius: 6px;
  border: none;
  padding: 1rem;
  /* transition: opacity 0.3s, height 1s linear;  */
}

.field_number_stays.open {
  display: flex;
  opacity: 100%;
  width: 100%;
  height: fit-content;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top:calc(100% + 5px) ;
  left: 0;
  z-index: 100;
  border-radius: 6px;
  border: none;
  padding: 1rem;
  transition: opacity 0.5s, height 1s ease-in-out; 
}